<div class="row">
  <div class="col-12 col-sm-6 offset-sm-3">

    <div class="card">
      <div class="card-header bg-primary text-light">
        Formulario de Genero
      </div>
      <div class="card-body">

        <form method="POST" action="/admin/{{#if editMode}}edit-genre{{else}}add-genre{{/if}}">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" {{#if editMode}} value="{{genre.title}}" {{/if}} class="form-control" id="title" name="Title" />
          </div>
        {{#if editMode}}
          <input type="hidden" value="{{genre.id}}" name="GenreId">
        {{/if}}

          <button type="submit" class="btn btn-primary float-end">Save</button>
           <a href="/admin/genres" class="btn btn-warning float-end me-2">Back to list</a>
        </form>
      </div>
    </div>
  </div>
</div>